* {
  box-sizing: border-box;
}

:root {
  --color-primary: #000;
  --color-highligth: blue;
  --color-error: red;
  --color-disable: gray;
  --border-radius: 4px;
}

html {
  height: 100%;
  font-family: NunitoSans, sans-serif;
  font-size: 10px;
  color: var(--color-primary);
}

body {
  height: 100%;
  margin: 0;
}

#__nuxt {
  height: 100%;
  width: 100%;
}

.text-highlight {
  color: var(--color-highligth);
}
