<template>
  <div
    class="personality-test-answer"
    @click="$emit('input', item.id)"
  >
    <div
      class="personality-test-answer__index"
    >
      <div
        class="answer-index"
        :class="{'active': item.id === value}"
      >
        {{ letter }}
      </div>
    </div>
    <div
      class="personality-test-answer__text"
    >
      {{ item.answer }}
    </div>
  </div>
</template>

<script>
import { numberToLetter } from '@/services/string.service'

export default {
  name: 'PersonalityTestAnswer',
  props: {
    value: {
      type: [Number, null],
      default: null
    },
    item: {
      type: Object,
      required: true
    },
    position: {
      type: Number,
      default: 0
    }
  },
  computed: {
    letter () {
      return numberToLetter(this.position)
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
  .personality-test-answer {
    display: flex;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    font-size: 1.6rem;
    padding: 1rem;
    cursor: pointer;
    transition: box-shadow .3s;
    width: 100%;

    &:hover {
        box-shadow: 0 0 3px var(--color-highligth);
    }

    &__text {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: 1rem;
    }

    &__index {
      display: grid;
      place-items: center;

      .answer-index {
        height: 2.6rem;
        width: 2.6rem;
        text-align: center;
        padding: 0.5rem 0;

        &.active {
          color: white;
          background: var(--color-highligth);
        }
      }
    }

  }
</style>
