<template>
  <div
    class="personality-test"
  >
    <div
      v-if="userPersonality"
    >
      <h1
        class="personality-test__result"
      >
        You are <span class="text-highlight">{{ userPersonality }}</span>
      </h1>
    </div>
    <div
      v-else
      class="personality-test__header"
    >
      Question {{ activeQuestionIndex+1 }} / {{ questions.length }}
    </div>

    <personality-test-item
      v-if="activeQuestion && !userPersonality"
      v-model="answerId"
      :active-question="activeQuestion"
    />
    <div
      v-if="!userPersonality"
      class="personality-test__navigation"
    >
      <base-button
        v-if="!isFirstQuestion"
        block
        @click="goPrev"
      >
        Previous question
      </base-button>
      <base-button
        color="highlight"
        block
        :disabled="!answerId"
        @click="goNext"
      >
        {{ isLastQuestion ? 'Get result' : 'Next question' }}
      </base-button>
    </div>
    <div
      v-else
      class="personality-test__navigation"
    >
      <base-button
        block
        @click="showAnswers=!showAnswers"
      >
        Show my answers
      </base-button>
      <base-button
        color="highlight"
        block
        @click="tryAgain"
      >
        Try once again
      </base-button>
    </div>
    <div
      v-if="showAnswers"
    >
      <personality-test-item
        v-for="question of questions"
        :key="question.id"
        :value="getUserAnswerByQuestion(question.id)"
        :active-question="question"
        preview
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PersonalityTestForm',
  fetchOnServer: false,
  data () {
    return {
      questions: [],
      activeQuestionIndex: 0,
      answerId: null,
      userQA: [],
      userPersonality: null,
      showAnswers: false
    }
  },
  async fetch () {
    await this.getQuestions()
  },
  computed: {
    activeQuestion () {
      const { questions, activeQuestionIndex } = this
      return questions[activeQuestionIndex]
    },
    isFirstQuestion () {
      return !this.activeQuestionIndex
    },
    isLastQuestion () {
      const { questions, activeQuestionIndex } = this
      return questions.length === (activeQuestionIndex + 1)
    }
  },
  watch: {
    activeQuestionIndex () {
      this.fetchSavedAnswer()
    }
  },
  methods: {
    async getQuestions () {
      const { data } = await this.$axios.get('/v1/personality-test')
      this.questions = data
    },
    goNext () {
      this.applyAnswerSelect()
      if (this.isLastQuestion) {
        this.getUserPersonality()
        return
      }
      this.activeQuestionIndex += 1
    },
    goPrev () {
      if (this.isFirstQuestion) {
        return
      }
      this.applyAnswerSelect()
      this.activeQuestionIndex -= 1
    },
    applyAnswerSelect () {
      const { userQA, answerId, activeQuestion: { id: questionId } } = this
      this.userQA = userQA.filter(_ => _.questionId !== questionId)
      if (answerId) {
        this.userQA.push({ questionId, answerId })
      }
    },
    fetchSavedAnswer () {
      const { activeQuestion } = this
      this.answerId = this.getUserAnswerByQuestion(activeQuestion.id)
    },
    async getUserPersonality () {
      const { userQA } = this
      const answers = userQA.map(_ => _.answerId)
      const { data } = await this.$axios.post('/v1/personality-test', { answers })
      this.userPersonality = data
    },

    tryAgain () {
      this.userQA = []
      this.answerId = null
      this.activeQuestionIndex = 0
      this.userPersonality = null
      this.showAnswers = false
    },
    getUserAnswerByQuestion (questionId) {
      const qa = this.userQA.find(_ => _.questionId === questionId)
      return qa?.answerId
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
  .personality-test {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    &__navigation {
      display: flex;
      gap: 1rem;
    }

    &__result {
      text-align: center;
      font-size: 3rem;
    }
  }
</style>
