<template>
  <div
    class="personality-test-item"
    :class="{'preview': preview}"
  >
    <div
      class="personality-test-item__question"
    >
      {{ activeQuestion.question }}
    </div>
    <div
      class="personality-test-item__answers"
    >
      <personality-test-answer
        v-for="(answer, index) of activeQuestion.answers"
        :key="answer.id"
        v-model="localValue"
        :item="answer"
        :position="index"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'PersonalityTestItem',
  props: {
    activeQuestion: {
      type: Object,
      required: true
    },
    value: {
      type: [Number, null],
      default: null
    },
    preview: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    localValue: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
.personality-test-item {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  &.preview{
    pointer-events: none;
  }

  &__question{
    font-size: 2rem;
    padding: 1rem;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
</style>
