<template>
  <div
    class="personality-test-answer-form"
  >
    <div
      class="personality-test-answer-form__action"
      :class="{'disabled': disableRemove}"
      @click="$emit('remove')"
    >
      <icon-trash />
    </div>
    <base-label>
      Answer {{ letter }}
    </base-label>
    <base-text-input
      v-model="form.answer"
    />
    <base-input-error
      v-if="errors.answer"
      :error="errors.answer"
    />
    <div
      class="personality-test-answer-form__footer"
    >
      <div>
        <label>
          Answer add points to type:
        </label>
        <admin-personality-test-answer-type-input
          v-model="form.value_type"
        />
      </div>
      <div>
        <label>
          Points value will be:
        </label>
        <base-number-input
          v-model="form.value"
        />
      </div>
    </div>
  </div>
</template>

<script>
import _cloneDeep from 'lodash.clonedeep'
import { numberToLetter } from '@/services/string.service'

export default {
  name: 'AdminPersonalityTestQuestionForm',
  props: {
    value: {
      type: Object,
      required: true
    },
    position: {
      type: Number,
      default: 0
    },
    disableRemove: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      form: _cloneDeep(this.value),
      errors: {}
    }
  },
  computed: {
    letter () {
      return numberToLetter(this.position)
    }
  },
  watch: {
    form: {
      handler (value) {
        this.$emit('input', value)
      },
      deep: true
    }
  },
  methods: {
    validate () {
      const errors = {}
      let isValid = true
      if (!this.form.answer) {
        isValid = false
        errors.answer = 'Answer text required'
      }
      this.errors = errors
      return isValid
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
.personality-test-answer-form {
  position: relative;
  padding-top: 1rem;
  margin-bottom: 2rem;

  &__action {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      color: var(--color-disable);
    }
  }

  &__footer {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    justify-content: flex-end;
  }
}
</style>
