<template>
  <select
    v-model="localValue"
    class="type-input"
  >
    <option
      v-for="option of options"
      :key="option"
    >
      {{ option }}
    </option>
  </select>
</template>

<script>
import { PERSONALITY_TYPES } from '@/constants/personality-test.constants'

export default {
  name: 'PersonalityTypeInput',
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      options: PERSONALITY_TYPES
    }
  },
  computed: {
    localValue: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
.type-input {
  background: transparent;
  resize: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-primary);
  width: 100%;
}
</style>
