<template>
  <admin-personality-test-question-form
    v-if="question"
    :value="question"
  />
</template>

<script>
export default {
  name: 'AdminPersonalityTestQuestionEditPage',
  data () {
    return {
      question: null
    }
  },
  fetchOnServer: false,
  async fetch () {
    await this.fetchQuestion()
  },
  methods: {
    async fetchQuestion () {
      const { id } = this.$route.params
      const { data } = await this.$axios.get(`/v1/personality-questions/${id}`)
      this.question = data
    }
  }
}
</script>
