<template>
  <div
    class="admin-questions"
  >
    <div
      class="admin-questions__header"
    >
      <h1>Personality questions</h1>
      <base-button
        @click="$router.push({name: 'admin-personality-test-questions-create'})"
      >
        <icon-plus /> Add question
      </base-button>
    </div>
    <div
      class="admin-questions__list"
    >
      <admin-personality-test-question-item
        v-for="question of questions"
        :key="question.id"
        :item="question"
        @remove="fetchQuestions"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'AdminPersonalityTestQuestionPage',
  data () {
    return {
      questions: []
    }
  },
  async fetch () {
    await this.fetchQuestions()
  },
  fetchOnServer: false,
  methods: {
    async fetchQuestions () {
      const { data } = await this.$axios.get('/v1/personality-questions')
      this.questions = data
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
.admin-questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}
</style>
