<template>
  <button
    class="base-button"
    :class="{'block': block, [color]: true, 'disabled': disabled}"
    type="button"
    v-on="$listeners"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    block: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    color: {
      type: String,
      default: 'transparent',
      validator (value) {
        return ['transparent', 'highlight'].includes(value)
      }
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
  .base-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    background: transparent;
    cursor: pointer;
    padding: 0.5rem 2rem;
    min-width: 6rem;

    &.disabled {
      pointer-events: none;
      opacity: 0.1;
    }

    &.block {
       padding: 1rem 2rem;
       width: 100%;
   }

    &.highlight {
      background: var(--color-highligth);
      color: white;
    }
  }
</style>
