<template
  functional
>
  <span
    class="base-input-error"
  >
    {{ props.error }}
  </span>
</template>

<script>
export default {
  name: 'BaseInputError',
  props: {
    error: {
      type: String,
      default: ''
    }
  }
}
</script>

<style
  scoped
>
  .base-input-error {
    margin: 0.1rem 0;
    display: block;
    font-size: 1rem;
    color: var(--color-error);
  }
</style>
