<template>
  <label
    class="base-label"
  >
    <slot />
  </label>
</template>

<script>
export default {
  name: 'BaseLabel'
}
</script>

<style
  scoped
>
  .base-label {
    margin: 0.5rem 0;
    display: block;
    font-size: 1.4rem;
  }
</style>
