<template>
  <input
    v-model="localValue"
    type="number"
    class="base-number-input"
  >
</template>

<script>
export default {
  name: 'BaseNumberInput',
  props: {
    value: {
      type: [Number, String],
      default: 0
    }
  },
  computed: {
    localValue: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
  .base-number-input {
    background: transparent;
    resize: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    width: 100%;

    &:focus {
      border-color: var(--color-highligth);
    }
  }
</style>
