<template>
  <textarea
    v-model="localValue"
    class="base-text-input"
    rows="4"
  />
</template>

<script>
export default {
  name: 'BaseTextInput',
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    localValue: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
  .base-text-input {
    background: transparent;
    resize: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-primary);
    width: 100%;

    &:focus {
      border-color: var(--color-highligth);
    }
  }
</style>
