<template>
  <div>
    <base-label>
      Question text
    </base-label>
    <base-text-input
      v-model="form.question"
    />
    <base-input-error
      v-if="errors.question"
      :error="errors.question"
    />
    <base-label>
      Answers:
    </base-label>
    <div
      :key="form.answers.length"
      class="personality-form-answers__wrapper"
    >
      <admin-personality-test-answer-form
        v-for="(answer, index) of form.answers"
        :ref="`answer_${index}`"
        :key="index"
        v-model="form.answers[index]"
        :position="index"
        :disable-remove="disableAnswerRemove"
        @remove="removeAnswer(index)"
      />
      <div class="pull-right">
        <base-button
          @click="addAnswer"
        >
          <icon-plus />
          Add answer
        </base-button>
      </div>
    </div>
    <base-button
      block
      color="highlight"
      @click="save"
    >
      Save
    </base-button>
  </div>
</template>

<script>
import _cloneDeep from 'lodash.clonedeep'
import { PERSONALITY_TYPE_EXTROVERT, PERSONALITY_TYPE_INTROVERT } from '@/constants/personality-test.constants'

const EMPTY_ANSWER = {
  answer: '',
  value_type: PERSONALITY_TYPE_EXTROVERT,
  value: 1
}

const EMPTY_QUESTION = {
  question: '',
  answers: [
    {
      ...EMPTY_ANSWER
    },
    {
      ...EMPTY_ANSWER,
      value_type: PERSONALITY_TYPE_INTROVERT
    }
  ]
}
export default {
  name: 'AdminPersonalityTestQuestionForm',
  props: {
    value: {
      type: Object,
      default: () => EMPTY_QUESTION
    }
  },
  data () {
    return {
      form: _cloneDeep(this.value),
      errors: {}
    }
  },
  computed: {
    disableAnswerRemove () {
      const MIN_ANSWERS_COUNT = 2
      return this.form.answers.length <= MIN_ANSWERS_COUNT
    }
  },
  methods: {
    addAnswer () {
      this.form.answers.push(_cloneDeep(EMPTY_ANSWER))
    },
    removeAnswer (index) {
      this.form.answers.splice(index, 1)
    },
    validate () {
      const { form } = this
      const errors = {}
      let isValid = true
      if (!form.question) {
        isValid = false
        errors.question = 'Question text required'
      }
      for (const [index] of form.answers.entries()) {
        const refName = `answer_${index}`
        if (!this.$refs[refName][0].validate()) {
          isValid = false
        }
      }
      this.errors = errors
      return isValid
    },
    async save () {
      const isValid = this.validate()
      if (!isValid) { return }
      const { form } = this
      await this.$axios.post('/v1/personality-questions', form)
      await this.$router.push('/admin/personality-test-questions')
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
.personality-form-answers__wrapper {
    padding-left: 3rem;
    margin-bottom: 2rem;
}

.pull-right {
  display: flex;
  justify-content: flex-end;
}
</style>
