<template>
  <div
    class="personality-question"
  >
    <div
      class="personality-question__text"
    >
      {{ item.question }}
    </div>
    <div
      class="personality-question__action"
    >
      <base-button
        @click="remove"
      >
        <icon-trash /> Delete
      </base-button>
      <base-button
        @click="$router.push({
          name: 'admin-personality-test-questions-id',
          params: {id: item.id}
        })"
      >
        <icon-edit /> Edit
      </base-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AdminPersonalityTestQuestionItem',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    async remove () {
      const { id } = this.item
      await this.$axios.delete(`/v1/personality-questions/${id}`)
      this.$emit('remove')
    }
  }
}
</script>

<style
  scoped
  lang="scss"
>
 .personality-question {
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    &__text {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
   &__action {
     display: flex;
     gap: 1rem;
   }
 }
</style>
