<template>
  <div
    class="container"
  >
    <Nuxt />
  </div>
</template>

<script>
export default {
  name: 'DefaultLayout'
}
</script>

<style
  lang="scss"
>
@import "scss/global";
.container {
  width: 100%;
  max-width: 1000px;
  margin: 15px auto 15px;
}
</style>
