<template>
  <main>
    <h1>
      Personality test
    </h1>
    <p>
      Some Landing text
    </p>
    <base-button
      v-if="!isStarted"
      block
      @click="isStarted=true"
    >
      Start test
    </base-button>
    <lazy-personality-test-form
      v-if="isStarted"
    />
  </main>
</template>

<script>
export default {
  name: 'IndexPage',
  data () {
    return {
      isStarted: false
    }
  }
}
</script>
