<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18 11.1429H12.8571V6H11.1429V11.1429H6V12.8571H11.1429V18H12.8571V12.8571H18V11.1429Z"
      fill="currentColor"
    />
  </svg>
</template>

<script>
export default {
  name: 'IconPlus'
}
</script>
